.franklin-content th,
.franklin-content td {
    border: 1px solid #888;
    padding: 0 .5rem;
    text-align: left
}

.franklin-content kbd {
    background: #ddd;
    border-radius: .3rem;
    border: 1px solid #666;
    padding: .1rem .2rem
}